version: "3.9"

services:
  back:
    build: ./back
    ports:
      - "${BACKEND_PORT:-8080}:5000"
    volumes:
      - ./back:/app
      - /app/node_modules

  front:
    build: ./front
    ports:
      - "${FRONTEND_PORT:-5173}:80"
    volumes:
      - ./front:/app
      - /app/node_modules
    depends_on:
      - back
