version: "3.9"

services:
  back:
    build: ./back
    ports:
      - "5000:5000"
    volumes:
      - ./back:/app
      - /app/node_modules

  front:
    build: ./front
    ports:
      - "5173:5173"
    volumes:
      - ./front:/app
      - /app/node_modules
    depends_on:
      - back
